@charset "UTF-8";
/* ------------------------------------------------------- FONTS ------------------------------------------------------- */
@font-face {
  font-family: 'Gotham Medium';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("☺"), url("../webfonts/Gotham-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Bold';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("☺"), url("../webfonts/Gotham-Bold.woff") format("woff"); }

@font-face {
  font-family: 'LGSmHaTL';
  src: url("../webfonts/LGSmHaTL.woff2");
  src: local(☺), url("../webfonts/LGSmHaTL.woff2") format("woff2"), url("../webfonts/LGSmHaTL.woff") format("woff"), url("../webfonts/LGSmHaTL.ttf") format("truetype"); }

@font-face {
  font-family: 'LGSmHaTR';
  src: url("../webfonts/LGSmHaTR.eot");
  src: local(☺), url("../webfonts/LGSmHaTR.woff2") format("woff2"), url("../webfonts/LGSmHaTR.woff") format("woff"), url("../webfonts/LGSmHaTR.ttf") format("truetype"); }

@font-face {
  font-family: 'LGSmHaTSB';
  src: url("../webfonts/LGSmHaTSB.eot");
  src: local(☺), url("../webfonts/LGSmHaTSB.woff2") format("woff2"), url("../webfonts/LGSmHaTSB.woff") format("woff"), url("../webfonts/LGSmHaTSB.ttf") format("truetype"); }

@font-face {
  font-family: 'LGSmHaTB';
  src: url("../webfonts/LGSmHaTB.eot");
  src: local(☺), url("../webfonts/LGSmHaTB.woff2") format("woff2"), url("../webfonts/LGSmHaTB.woff") format("woff"), url("../webfonts/LGSmHaTB.ttf") format("truetype"); }

/* ------------------------------------------------------- FONT ------------------------------------------------------- */
/* ------------------------------------------------------- COLOR ------------------------------------------------------- */
/* ------------------------------------------------------- LAYOUT ------------------------------------------------------- */
/* ------------------------------------------------------- MIXINS ------------------------------------------------------- */
html, body {
  width: 100%; }

body, div, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, a, img, p, span,
form, fieldset, legend, label, input, select, button,
table, caption, colgroup, col, thead, tbody, tr, th, td, address, tfoot,
header, nav, footer, section, article, mark, figure, figcaption, time, aside, small, blockquote {
  margin: 0;
  padding: 0; }

html, header, nav, footer, section, article, figure, figcaption, aside, small {
  display: block; }

body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  font-family: "LGSmHaTR", "LGSmHaTR", sans-serif !important;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  word-break: keep-all;
  -ms-word-break: keep-all; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "LGSmHaTR", "LGSmHaTR", sans-serif !important;
  margin: 0; }

ul, ol {
  list-style: none; }

img, fieldset, input, button {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #333; }

a:focus {
  outline: none !important;
  color: #333; }

button, img {
  vertical-align: middle; }

.skip, legend, caption, .sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: -999px; }

sup {
  vertical-align: super;
  font-size: smaller;
  color: #B71C1C; }

em {
  font-style: normal;
  font-weight: 600; }

.center {
  text-align: center; }

/* ------------------------------------------------------- COMMON ------------------------------------------------------- */
/* COMMON > LAYOUT */
.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0 !important; }
  .wrapper .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 80px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    z-index: 999; }
    .wrapper .header .logo {
      font-size: 0; }
      .wrapper .header .logo a {
        width: auto;
        height: 80px;
        line-height: 80px;
        display: inline-block;
        overflow: hidden;
        padding: 0 12px;
        overflow: hidden; }
        .wrapper .header .logo a img {
          width: auto;
          height: 43px; }
  .wrapper .container-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: calc(100vh - 80px);
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 997; }
    .wrapper .container-wrap .container {
      min-width: 100vw;
      min-height: calc(100vh - 80px - 50px); }
      .wrapper .container-wrap .container article {
        padding: 12px 12px 60px; }
      .wrapper .container-wrap .container section {
        padding: 0;
        margin-bottom: 24px; }
    .wrapper .container-wrap .footer {
      width: 100%;
      height: 50px;
      text-align: center; }
      .wrapper .container-wrap .footer .copy {
        font-size: 11px;
        line-height: 50px;
        color: #999; }

/* COMMON > FONT */
.tit {
  font-size: 22px;
  font-weight: 700;
  color: #444;
  line-height: 1; }
  .tit.kr {
    line-height: 1.3;
    font-family: "LGSmHaTR" !important; }
  .tit + .desc {
    margin-top: 4px; }
  h3.tit {
    color: #444;
    font-size: 48px;
    font-family: "Gotham Bold" !important;
    line-height: 1.2;
    margin: 36px 0;
    padding-bottom: 24px;
    text-align: center;
    position: relative; }
    h3.tit::after {
      content: "";
      width: 80px;
      height: 7px;
      display: inline-block;
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%);
      background: #ba8748; }

.desc {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #999; }
  .desc strong {
    display: block;
    color: #444;
    margin-bottom: 36px;
    font-size: 24px;
    font-family: "Gotham Medium";
    font-weight: normal; }

.sort {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #ba8748;
  margin-bottom: 3px; }

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: 43px;
  padding: 10px;
  background: transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;
  z-index: 999; }
  .btn-close > span, .btn-close::before, .btn-close::after {
    content: '';
    display: block;
    width: 100%;
    border-top: 3px solid #333;
    height: 0; }
  .btn-close > span {
    opacity: 0;
    /* All modern browsers */
    filter: alpha(opacity=0);
    /* For IE5~IE9 */
    margin: 6px 0;
    text-indent: -999px;
    white-space: nowrap; }
  .btn-close::before {
    transform: translateY(9px) rotate(-315deg); }
  .btn-close::after {
    transform: translateY(-9px) rotate(315deg); }

/* ------------------------------------------------------- index.html ------------------------------------------------------- */
.video-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  .video-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-basis: calc((100vw - 24px*2)/4);
    flex-direction: column; }
    .video-list li a {
      min-height: 310px;
      padding: 12px; }
    .video-list li img {
      border-radius: 12px;
      background-color: #f7f7f7;
      border: 1px solid #d3d3d3;
      overflow: hidden;
      width: 100%;
      height: auto;
      min-height: calc((100vw - 24px*2)/4 - 24px);
      max-height: calc((100vw - 24px*2)/4 - 24px);
      display: inline-block; }
    .video-list li .text-wrap {
      margin-top: 12px; }
      .video-list li .text-wrap .tit {
        word-spacing: -.1rem; }
        .video-list li .text-wrap .tit.over {
          font-size: 20px; }
      .video-list li .text-wrap .desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: box;
        max-height: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }

/* ------------------------------------------------------- virtual-experience.html ------------------------------------------------------- */
.video-list-detail {
  padding: 24px !important; }
  .video-list-detail .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .video-list-detail .preview .text-wrap {
      width: 100%;
      text-align: center;
      padding: 12px 0; }
      .video-list-detail .preview .text-wrap .sort {
        font-size: 18px;
        margin-bottom: 6px; }
      .video-list-detail .preview .text-wrap .tit {
        display: block;
        font-size: 34px; }
      .video-list-detail .preview .text-wrap .desc {
        font-size: 18px;
        color: #444;
        margin-top: 12px; }
      .video-list-detail .preview .text-wrap button {
        font-size: 16px;
        color: #666;
        padding: 6px 24px;
        border-radius: 24px;
        margin-top: 36px;
        border: 1px solid rgba(255, 255, 255, 0.95);
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .video-list-detail .preview .model-viewer-wrap {
      width: 600px;
      height: 600px;
      display: inline-block;
      background-color: #f7f7f7;
      border: 1px solid #d3d3d3;
      margin-bottom: 24px; }
      .video-list-detail .preview .model-viewer-wrap model-viewer {
        width: 100%;
        height: 100%; }
    .video-list-detail .preview .container.model-viewer {
      min-width: inherit !important;
      min-height: inherit !important; }

/* ------------------------------------------------------- sub.html ------------------------------------------------------- */
.product-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px !important; }
  .product-detail .images-swiper {
    width: 400px;
    height: 430px;
    position: relative;
    overflow: hidden;
    background: #fff; }
    .product-detail .images-swiper .swiper-wrapper {
      width: 1200px;
      font-size: 0; }
      .product-detail .images-swiper .swiper-wrapper .swiper-slide {
        width: 400px !important;
        height: 400px;
        display: inline-block; }
        .product-detail .images-swiper .swiper-wrapper .swiper-slide img {
          width: 100%;
          height: auto; }
    .product-detail .images-swiper .swiper-pagination-bullet-active {
      background-color: #ba8748 !important; }
    .product-detail .images-swiper .swiper-button-prev, .product-detail .images-swiper .swiper-button-next {
      opacity: 0.4;
      /* All modern browsers */
      filter: alpha(opacity=40);
      /* For IE5~IE9 */
      width: 54px !important;
      height: 54px !important;
      margin-top: calc(-1 * 78px / 2) !important;
      color: rgba(0, 0, 0, 0.2) !important;
      background: url(../img/arrow_left.png) no-repeat 0 0/54px auto;
      text-indent: -9999px !important; }
    .product-detail .images-swiper .swiper-button-next {
      background: url(../img/arrow_right.png) no-repeat 0 0/54px auto; }
  .product-detail .detail {
    width: calc(100% - 400px);
    padding: 24px 0 0 24px; }
    .product-detail .detail h4 {
      font-size: 17px;
      font-family: "LGSmHaTB"; }
      .product-detail .detail h4.tit {
        font-size: 24px;
        margin: 12px 0 6px; }
    .product-detail .detail .desc {
      color: #666; }
    .product-detail .detail .spec-wrap h5 {
      border-top: 1px dotted #d3d3d3;
      padding: 12px 6px 10px;
      margin-top: 12px;
      font-size: 16px;
      font-weight: 500; }
    .product-detail .detail .spec-wrap ul {
      overflow: hidden; }
      .product-detail .detail .spec-wrap ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 2px;
        float: left;
        width: 50%; }
        .product-detail .detail .spec-wrap ul li span {
          display: inline-block;
          padding: 8px 12px; }
          .product-detail .detail .spec-wrap ul li span:first-child {
            flex-basis: 170px;
            flex-shrink: 0;
            background-color: #efefef; }
          .product-detail .detail .spec-wrap ul li span:last-child {
            flex-basis: auto; }
          .product-detail .detail .spec-wrap ul li span small {
            display: inline; }

.link-list-wrap {
  border-top: 1px solid #d3d3d3; }
  .link-list-wrap .link-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 12px; }
    .link-list-wrap .link-list li {
      width: calc(25% - 12px*2);
      height: 140px;
      display: inline-block;
      overflow: hidden;
      border-radius: 12px;
      margin: 12px; }
      .link-list-wrap .link-list li a {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        position: relative;
        background: url(../img/bg-brand3.jpg) no-repeat 0 center;
        background-size: cover; }
        .link-list-wrap .link-list li a.type-b {
          background-image: url(../img/bg-brand2.jpg); }
        .link-list-wrap .link-list li a.type-c {
          background-image: url(../img/bg-brand4.jpg); }
        .link-list-wrap .link-list li a.type-d {
          background-image: url(../img/bg-brand1.jpg); }
        .link-list-wrap .link-list li a .tit {
          width: 100%;
          color: #ba8748;
          font-size: 22px;
          letter-spacing: .1rem;
          position: absolute;
          top: 48px;
          bottom: unset;
          left: 0; }
        .link-list-wrap .link-list li a img {
          width: 100%;
          height: auto;
          margin-top: -100px; }

/* ------------------------------------------------------- MODAL ------------------------------------------------------- */
.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000; }
  .modal .modal-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center; }
    .modal .modal-content-wrap .modal-content {
      -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
      width: 1024px;
      background-color: #fefefe;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      font-size: 0; }
      .modal .modal-content-wrap .modal-content .btn-close {
        top: 12px;
        right: 12px; }
        .modal .modal-content-wrap .modal-content .btn-close.white > span, .modal .modal-content-wrap .modal-content .btn-close.white::before, .modal .modal-content-wrap .modal-content .btn-close.white::after {
          border-color: #fff; }
      .modal .modal-content-wrap .modal-content p {
        font-size: 24px;
        padding: 18px 24px; }
      .modal .modal-content-wrap .modal-content iframe {
        width: 100%;
        height: 576px; }

@media (min-width: 1600px) {
  .container.wide article, .container.wide section {
    max-width: calc((100vw/4)*3 - 36px); } }

@media (min-width: 1280px) {
  .tit.kr br {
    display: none; }
  .product-detail .images-swiper {
    width: 35vw;
    text-align: center; }
    .product-detail .images-swiper .swiper-wrapper {
      width: 105vw !important; }
      .product-detail .images-swiper .swiper-wrapper .swiper-slide {
        width: 35vw !important; }
        .product-detail .images-swiper .swiper-wrapper .swiper-slide img {
          width: auto;
          height: 100%; }
  .product-detail .detail {
    width: calc(100vw - 48px - 35vw); } }

@media (max-width: 1130px) {
  .spec-wrap:nth-of-type(odd) li {
    width: 100% !important;
    float: none; } }

@media (min-width: 1025px) {
  .tit.kr {
    font-size: 29px !important; }
    .tit.kr br:last-child {
      display: none; } }

@media (max-width: 1024px) {
  .logo img {
    height: 40px !important; }
  h3.tit.kr {
    font-size: 24px;
    letter-spacing: -.05rem; }
  .quick-link li {
    width: calc(100% - 24px*2);
    margin: 6px 24px; }
    .quick-link li br {
      display: none; }
    .quick-link li .tit {
      font-size: 28px !important;
      top: 38px !important; }
    .quick-link li .img-wrap {
      height: 150px !important; }
    .quick-link li .desc {
      width: 100%;
      padding: 0 12px;
      color: #fff !important;
      font-size: 13px !important;
      margin-top: 6px !important;
      position: absolute;
      top: 80px;
      left: 0; }
  .link-list li {
    width: calc(50% - 12px*2) !important; } }

@media (max-width: 899px) {
  .product-detail {
    flex-direction: column; }
    .product-detail .images-swiper {
      width: 80vw;
      margin-bottom: 24px; }
      .product-detail .images-swiper .swiper-wrapper {
        width: 240vw !important; }
        .product-detail .images-swiper .swiper-wrapper .swiper-slide {
          width: 80vw !important;
          text-align: center; }
          .product-detail .images-swiper .swiper-wrapper .swiper-slide img {
            width: 400px; }
    .product-detail .detail {
      width: 100%;
      padding: 0; } }

@media (min-width: 768px) {
  .container article, .container section {
    max-width: calc((100vw/4)*3 - 36px);
    margin: 0 auto; }
  .container.wide article, .container.wide section {
    max-width: inherit; } }

@media (max-width: 660px) {
  .product-detail .images-swiper {
    width: calc(100vw - 48px) !important;
    height: 100vw; }
    .product-detail .images-swiper .swiper-wrapper {
      width: calc((100vw - 48px)*3) !important; }
      .product-detail .images-swiper .swiper-wrapper .swiper-slide {
        width: calc(100vw - 48px) !important; }
        .product-detail .images-swiper .swiper-wrapper .swiper-slide img {
          width: 100% !important; }
  .product-detail .spec-wrap li {
    width: 100% !important;
    float: none; }
  .link-list li {
    width: calc(100% - 12px*2) !important; } }

@media (min-width: 451px) and (max-width: 767px) {
  .container article {
    padding: 12px 60px 60px !important; }
  .tit {
    font-size: 22px !important; }
    h3.tit {
      font-size: 42px !important; }
  .video-list, .video-list-detail {
    max-width: calc((100vw - 120px + 24px)/2 *2);
    margin: 0 auto; }
  .video-list {
    max-width: calc((100vw - 120px + 24px)/2 *2);
    margin: 0 auto; }
    .video-list li {
      flex-basis: calc((100vw - 120px + 24px)/2); }
      .video-list li img {
        min-height: calc((100vw - 120px + 24px)/2 - 24px); } }

@media (max-width: 767px) {
  .video-list-detail {
    padding: 24px 6px !important; }
    .video-list-detail .model-viewer-wrap {
      width: calc((100vw - 120px + 24px)/2 *2) !important;
      height: calc((100vw - 120px + 24px)/2 *2) !important; }
    .video-list-detail .text-wrap .sort {
      font-size: 13px !important; }
    .video-list-detail .text-wrap .tit {
      font-size: 28px !important; }
    .video-list-detail .text-wrap .desc {
      font-size: 15px !important; } }

@media (max-width: 450px) {
  .container article {
    padding: 12px 24px 48px !important; }
  .tit {
    font-size: 20px !important; }
    h3.tit {
      font-size: 38px !important; }
  .desc {
    font-size: 14px  !important; }
    .desc strong {
      font-size: 20px !important; }
  .video-list, .video-list-detail {
    max-width: calc((100vw - 12px*2)/2 *2);
    margin: 0 auto; }
  .video-list a {
    padding: 6px !important; }
  .video-list li {
    flex-basis: calc((100vw - 12px*2)/2); }
    .video-list li img {
      min-height: calc((100vw - 12px*2)/2 - 12px); }
    .video-list li a {
      min-height: 290px !important; }
  .video-list-detail .model-viewer-wrap {
    width: calc((100vw - 12px*2)/2 *2) !important;
    height: calc((100vw - 12px*2)/2 *2) !important; }
  .spec-wrap li span:first-child {
    flex-basis: 130px !important; }
  .spec-wrap li span small {
    display: block !important; }
  .product-detail .images-swiper .swiper-button-prev, .product-detail .images-swiper .swiper-button-next {
    width: 43px !important;
    height: 43px !important;
    background-size: 43px auto !important; }
  .product-detail .images-swiper .swiper-button-prev {
    left: 0; }
  .product-detail .images-swiper .swiper-button-next {
    right: 0; } }

@media (max-width: 1100px) {
  .modal-content {
    width: 600px !important; }
    .modal-content iframe {
      height: 336px !important; } }

@media (max-width: 680px) {
  .modal-content {
    width: 456px !important; }
    .modal-content iframe {
      height: 256px !important; } }

@media (max-width: 480px) {
  .modal-content {
    width: 336px !important; }
    .modal-content iframe {
      height: 189px !important; }
    .modal-content p {
      font-size: 22px !important; } }
